{% extends 'base.html' %}
{% block content %}
  <h1>{{ object.titulo }}</h1>
  <h3>{{ object.subtitulo }}</h3>
  {% if object.imagen %}
    <img src="{{ object.imagen.url }}" alt="Imagen" width="300">
  {% endif %}
  <p>{{ object.contenido }}</p>
  <p>Autor: {{ object.autor.username }} | Fecha: {{ object.fecha_creacion }}</p>

  {% if user.is_authenticated and user == object.autor %}
    <a href="{% url 'page_update' object.pk %}">Editar</a>
    <a href="{% url 'page_delete' object.pk %}">Borrar</a>
  {% endif %}
{% endblock %}
