{% extends 'base.html' %}
{% block content %}
  <h2>Mi Perfil</h2>
  <p>Nombre: {{ user.useravatar.nombre }}</p>
  <p>Apellido: {{ user.useravatar.apellido }}</p>
  <p>Email: {{ user.email }}</p>
  <p>Biografía: {{ user.useravatar.bio }}</p>
  <p>Fecha de nacimiento: {{ user.useravatar.birthdate }}</p>
  {% if user.useravatar.avatar %}
    <img src="{{ user.useravatar.avatar.url }}" alt="Avatar" width="150">
  {% endif %}
  <p><a href="{% url 'perfil_edit' %}">Editar perfil</a></p>
  <p><a href="{% url 'password_change' %}">Cambiar contraseña</a></p>
{% endblock %}
