{% extends 'base.html' %}
{% block content %}

<main class="main-perfil">
  <ul class="list-group list-group-flush rounded-4">
    <li class="list-group-item">Nombre: {{ user.useravatar.nombre }}</li>
    <li class="list-group-item">Apellido: {{ user.useravatar.apellido }}</li>
    <li class="list-group-item">Email: {{ user.email }}</li>
    <li class="list-group-item">Biografía: {{ user.useravatar.bio }}</li>
    <li class="list-group-item">Fecha de nacimiento: {{ user.useravatar.birthdate }}</li>
    {% if user.useravatar.avatar %}
      <li class="list-group-item"><img src="{{ user.useravatar.avatar.url }}" alt="Avatar" width="150"></li>
    {% endif %} 
    <li class="list-group-item"><p><a class="text-primary" href="{% url 'perfil_edit' %}">Editar perfil</a></p></li>
    <li class="list-group-item"><p><a class="text-primary" href="{% url 'password_change' %}">Cambiar contraseña</a></p></li>
  </ul>
</main>
{% endblock %}
